@using Sitecore.Mvc

<section class="component accordion" data-module="components/accordionController">
    <ul class="accordion__items">
        @Html.Sitecore().DynamicPlaceholder("accordionsections")
    </ul>
</section>